@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All Rights are reserved by chikoprojects.ge</p>
<p>If you have any question contact me on gmail : gchikovanii25@gmail.com</p>
